<!-- <div class="commentContent row">

  <div class="commentRating">

      <strong>
        Comment:
      </strong>
  </div>
  <div class="">
    <div class="comment">
      <%= comment.escape('content') %>
    </div>

    <div class="rating">
      <strong>Rating:</strong>
      <% if  (comment.escape('rating') >= 4.9) { %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/fivepaws3.png" alt="" />
      <% } else if ((comment.escape('rating') >= 4.5)) { %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/fourpointfivepaws.png" alt="" />
      <% } else if (comment.escape('rating') >= 4){ %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/fourpaws.png" alt="" />
      <% } else if (comment.escape('rating') >= 3.5){ %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/threepointfivepaws.png" alt="" />
      <% } else if (comment.escape('rating') >= 3){ %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/threepaws.png" alt="" />
      <% } else if (comment.escape('rating') >= 2.5){ %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/twopointfivepaws.png" alt="" />
      <% } else if (comment.escape('rating') >= 2){ %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/twopaws.png" alt="" />
      <% } else if (comment.escape('rating') >= 1.5){ %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/onepointfivepaws.png" alt="" />
      <% } else if (comment.escape('rating') >= 1) { %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/onepaw.png" alt="" />
      <% } else if (comment.escape('rating') >= 1.5){ %>
        <img class="ratingImage" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/halfpaw.png" alt="" />
      <% } else { %>
        Sitter not rated.
      <%  } %>
    </div>

    <span class="commentDate">
      Date: <%= comment.escape('comment_date') %>
    </span>
  </div>
</div> -->

<div class="commentContent">
<div class="row">
<div class="col-sm-2">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-10">
<div class="panel panel-default">
<div class="panel-heading">
<strong>User</strong> <span class="text-muted">commented days ago</span>
</div>
<div class="panel-body">
 <%= comment.escape('content') %></div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div><!-- /row -->

</div><!-- /container -->
