<!-- Page Content -->
<div class="container dogIndexPage">
    <!-- Portfolio Section -->
    <% if (dogs.isEmpty()){  %>
      <h2> You haven't added any dogs yet :(</h2>
    <% } else { %>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Your Dogs:</h2>
            </div>
            <% dogs.each(function(dog){ %>
                <div class="col-md-4 col-sm-6">
                    <a href="#/dogs/<%= dog.escape('id') %>">
                        <img class="" src="<%= dog.get('dog_photo_large') %>" alt="" style="min-width: 100%;">
                    </a>
                </div>
                <% }); %>

                <div class="col-md-4 col-sm-6">
                    <a href="#/dogs/new">
                        <img class=""
                            src="http://s3-us-west-1.amazonaws.com/pet-sitter-development/addButton.png"
                            alt=""
                            style="max-width: 100%; max-height: 250px; margin-left: 25%;">
                    </a>
                </div>
        </div>
  <% } %>
</div>
