<div class="navbarContainer">

</div>

<div class="app-body">
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Sitter</li>
            <li class="breadcrumb-item">Bookings</li>
            <!-- Breadcrumb Menu-->
        </ol>
        <div class="container-fluid">

            <div id="ui-view" style="opacity: 1;">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Booking Requests:</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                        <th>Photo</th>
                                        <th>Dog Name</th>
                                        <th>Date Start</th>
                                        <th>Date End</th>
                                        <th>Dog Size</th>
                                        <th>Confirm?</th>
                                        </tr>
                                    </thead>
                                    <tbody class="sitter_bookings">
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>