<div class="container pageContent">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Booking Requests:</h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover ">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Dog Name</th>
                  <th>Date Start</th>
                  <th>Date End</th>
                  <th>Dog Size</th>
                  <th>Confirm?</th>
                </tr>
              </thead>
              <tbody class="sitter_bookings">
              </tbody>
            </table>
        </div>
    </div>
</div>
