<div class="navbarContainer">
</div>

<div class="app-body">
<!-- Main content -->
<main class="main">

  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Profile</li>
    <!-- Breadcrumb Menu-->
  </ol>

  <div class="container-fluid">
    <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
            <div id="sitterInfoCard">
            </div>
            <!-- <div class="sitterInfoCard col-sm-offset-1 col-sm-10">
                <div class="card">
                  <div class="card-header">
                    Sitter Profile
                </div>

                <div class="card-body" id="sitterInfoCard">
                </div>
            </div> -->
        </div>
    </div>
    </div>
  <!-- /.container-fluid -->
</main>
</div>
