<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

      <% if (this.currentFirstPage > 1) { %>
      <li class="page-item">
        <a class="page-link previousButton" href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
        </a>
      </li>
        <% } %>
      <li class="page-item"><a class="page-link buttonOne" href="#"><%= this.buttonOne %></a></li>
      <li class="page-item"><a class="page-link buttonTwo" href="#"><%= this.buttonTwo %></a></li>
      <li class="page-item"><a class="page-link buttonThree" href="#"><%= this.buttonThree %></a></li>
      <% if (this.buttonThree < this.maxPages) { %>
          <li class="page-item">
              <a class="page-link nextButton" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
          </li>
      <% } %>
  </ul>
</nav>
