<ul class="list-group list-group-flush">
  <div class="callout callout-info m-0 py-3">
      <div class="row">
          <div class="avatar avatar-md col-sm-1">
              <img src="<%= sitter.escape('sitter_photo_small') %>" class="img-avatar" alt="admin@bootstrapmaster.com">
          </div>
          <div class="col-sm-7 offset-sm-1">
              <div>
                  <strong><%= sitter.escape('sitter_name') %></strong>

                    <p>    $<%= sitter.escape('price') %> /night
                    </p>
              </div>
          </div>
          <div class="">
              <button id="sitterInfoButton" type="button" name="button" class="btn btn-info float-right">More...</button>
          </div>

      </div>

  </div>
</ul>
