<!-- Page Content -->
<div class="container frontPageWrapper">
    <div class="page-header row">
        <div class="col-md-6">
            <h2 class="page-header">Sitter Listings:</h2>
        </div>
        <div class="col-md-6">
          <div class="input-group searchBar">
            <input type="text" class="form-control" id="searchParams" placeholder="Enter an address"/>
            <span class="input-group-btn">
                <button type="submit" id="search" class="btn btn-success">Search!</button>
            </span>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default sitterListingsPanel col-md-6">
            <div id="sitterIndexWrapper">
              <div class="sitterIndex">
              </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div id="mapWrapper">
              <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>
