
<!-- <div id="searchWrapper">



  <div id="sortDropDown" class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Sort Results
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><button id="orderByRating" class="btn btn-info">Order by Rating</button></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><button id="orderByPrice" class="btn btn-info">Order by Price</button></a></li>
      </ul>
    </div>
</div>

 -->
     <!-- Page Content -->
     <div class="container frontPageWrapper">

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Sitter Listings:</h2>
            </div>
            <div class="col-md-6">
                <p>
                    <form class="form-search">
                      <div class="input-append searchBar">
                        <label for="searchBar">Search For Dog Sitters:</label>
                        <input type="text" class="span2 search-query" id="searchParams" placeholder="Enter an address"/>
                        <button type="submit" id="search" class="btn btn-success">Search!</button>
                      </div>
                    </form>
                </p>
                <div id="sitterIndexWrapper">
                  <div class="sitterIndex">
                  </div>
                </div>
            </div>


            <div class="col-md-6">
                <div id="mapWrapper">
                  <div id="map-canvas"></div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
