<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/#/">
        <img src="/assets/vendor/img/logo.png" width="185" height="49" alt="">
    </a>
    <ul class="nav navbar-nav ml-auto">
        <% if (!CanineCareApp.loggedIn) { %>
            <li class="nav-item">
                <a class="nav-link nav-link"  href="/session/new">
                  Sign In
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link"  href="/users/new">
                  Sign Up
                </a>
            </li>
        <% } %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Menu&nbsp;
            <i class="icon-settings"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>Settings</strong>
          </div>
          <a id="profileLink" class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
          <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
          <% if (CanineCareApp.loggedIn) { %>
          <a id="logoutButton" class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
          <% } %>
        </div>
      </li>
    </ul>
  </header>

  <div class="app-body">
    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <!-- Breadcrumb Menu-->
      </ol>

      <div class="container-fluid">
        <div id="ui-view" style="opacity: 1;">
            <div class="animated fadeIn">
                <div class="sitterListCard col-sm-6">
                    <div class="card">
                      <div class="card-header">
                        Sitter List
                    </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Sitter 1</li>
                      </ul>

                      <div class="card-footer text-muted text-center">
                            Pagination Controls Here...
                      </div>
                    </div>
                </div>
                <div class="mapCard col-sm-6">
                    <div class="card">
                      <div class="card-header">
                        Sitter Map
                      </div>
                      <div id="map-canvas" style="height: 650px;" class="card-img-top">
                      </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>
