<div class="navbarContainer">
</div>
<div class="app-body">
<!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <!-- Breadcrumb Menu-->
      </ol>

      <div class="container-fluid">
        <div id="ui-view" style="opacity: 1;">
            <div class="animated fadeIn">
                <div class="sitterListCard col-sm-6">
                    <div class="card">
                      <div class="card-header">
                        Sitter List
                    </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Sitter 1</li>
                      </ul>

                      <div class="card-footer text-muted text-center">
                            Pagination Controls Here...
                      </div>
                    </div>
                </div>
                <div class="mapCard col-sm-6">
                    <div class="card">
                      <div class="card-header">
                        Sitter Map
                      </div>
                      <div id="map-canvas" style="height: 550px;" class="card-img-top">
                      </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
      <!-- /.conainer-fluid -->
    </main>

</div>
