<div class="indexPanel panel-body">
    <div class='indexContents'>
        <h2> <strong>Description:</strong> </h2>
        <p><%= sitter.escape('description') %></p>
    </div>
    <div class="averageRating">
        <strong>Average Rating:</strong>
        <div class="paws">
            <% if  (sitter.escape('avg_rating') >= 4.9) { %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/fivepaws3.png" alt="" />
            <% } else if ((sitter.escape('avg_rating') >= 4.5)) { %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/fourpointfivepaws.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 4){ %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/fourpaws.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 3.5){ %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/threepointfivepaws.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 3){ %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/threepaws.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 2.5){ %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/twopointfivepaws.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 2){ %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/twopaws.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 1.5){ %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/onepointfivepaws.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 1) { %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/onepaw.png" alt="" />
            <% } else if (sitter.escape('avg_rating') >= 1.5){ %>
            <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/rating_paws/halfpaw.png" alt="" />
            <% } else { %>
            Sitter not rated.
            <%  } %>
        </div>
    </div>

    <div class="sitterInfoButton">
        <button data-id="<%= sitter.get('id') %>" class="btn btn-default moreInfo">More Info</button>
    </div>

    <div class="index_price">
        <strong>Cost/Night: $<%= sitter.escape('price') %></strong>
    </div>
</div>
</div>

<div id="searchWrapper">



    <div id="sortDropDown" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Sort Results
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><button id="orderByRating" class="btn btn-info">Order by Rating</button></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><button id="orderByPrice" class="btn btn-info">Order by Price</button></a></li>
        </ul>
    </div>
</div>