<!-- Page Content -->
<div class="container pageContent">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Services
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i>Dog Walking</h4>
                </div>
                <div class="panel-body">
                    <p>Need someone to walk your dog? We can help you find a dog walker in your area.</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i>Dog Sitting</h4>
                </div>
                <div class="panel-body">
                    <p>Search our sitter database to find a sitter that can take care of your dog for a night or longer.</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>Dog Training</h4>
                </div>
                <div class="panel-body">
                    <p>Many of our sitters also offer training sessions, book with us and save!</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
